body{
    background-color: #e7e7e7;
}

.main-container{
    margin: 15/16rem;
    width: 1633/16rem;
    .left{
        float: left;
        background-color: #fff;
        margin: 0;
        padding: 0;
        width: 960/16rem;
        height: 1750/16rem;
        .registry{
            margin-left: 50/16rem;
            margin-right: 50/16rem;
            position: relative;
            dl{
                .form-title{
                    position: absolute;
                    left: 0;
                    top: 15/16rem;
                    width: 850/16rem;
                    height: 36/16rem;
                    line-height: 36/16rem;
                    letter-spacing: 8/16rem;
                    font-size: 28/16rem;
                    font-weight: 700;
                    font-family: "微软雅黑";
                }
                .blue{
                   background-color: #3399ff; 
                   width: 850/16rem;
                   height: 15/16rem;
                   position: absolute;
                   top: 60/16rem;
                   left: 0;
                }
                .gray{
                   background-color: #999999; 
                   width: 850/16rem;
                   height: 6/16rem;
                   position: absolute;
                   top: 78/16rem;
                   left: 0; 
                }
                .b-blue{
                    background-color: #3399ff; 
                    width: 850/16rem;
                    height: 6/16rem;
                    position: absolute;
                    top: 390/16rem;
                    left: 0;
                }
                .detail{
                    widows: 850/16rem;
                    position: absolute;
                    top: 403/16rem;
                    text-align: center;
                    left: 0;
                    margin: 15/16rem 0 15/16rem 0;
                    font-size: 16/16rem;
                    color: #999999;
                    padding-left: 120/16rem;
                }
                .form{
                    margin-top: 15/16rem;
                    padding-top:70/16rem ;
                    .input{
                        letter-spacing: 1/16rem;
                        font-size: 14/16rem;
                        font-weight: 400;
                        text-align: center;
                    }
                    .label{
                        margin-top: 30/16rem;
                        float: left;
                        white-space: nowrap;
                        font-size: 14/16rem;
                        font-family: "微软雅黑";
                        font-weight: 400;
                        color: #333333;
                        text-align: left;
                        letter-spacing: 1/16rem;
                        margin-right: 5/16rem;
                    }
                    .content{
                        float: left;
                        margin-top: 30/16rem;
                        .info-left{
                            width: 325/16rem;
                            margin-right: 37/16rem;
                            text-align: center;
                            border-bottom: solid #797979 1/16rem;
                            position: relative;
                            top:-3/16rem;
                            
                        }
                        .info-right{
                            width: 325/16rem;
                            margin-right: 0;
                            text-align: center;
                            border-bottom: solid #797979 1/16rem;
                            position: relative;
                            top:-3/16rem;
                        }
                        .birth{
                            float: left;
                            width: 60/16rem;
                            margin-right: 8/16rem;
                            text-align: center;
                            border-bottom: solid #797979 1/16rem;
                            position: relative;
                            top:-3/16rem;
                        }
                        .string{
                            float: left;
                            font-size: 14/16rem;
                            margin-right: 8/16rem;
                        }
                        .name{
                            width: 225/16rem;
                            margin-right: 30/16rem;
                            text-align: center;
                            border-bottom: solid #797979 1/16rem;
                            position: relative;
                            top:-3/16rem;
                        }
                        .sex{
                            font-size: 14rem;
                            margin-right: 58/16rem;
                        }
                        .input{
                            letter-spacing: 1/16rem;
                            font-size: 14/16rem;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
        .index{
                float: left;
                position: absolute;
                width: 50/16rem;
                height: 50/16rem;
                line-height: 50/16rem;
                border-radius: 100%;
                background-color: #3399ff;
                margin-left: 0;
                top: 180/16rem;
                left: 0;
                color: rgb(225,255,255);
                font-size: 18/16rem;
                font-weight: 700;
                text-align: center;
            }
            .boundary1{
                float: left;
                border-left: solid #797979 1/16rem;
                margin-left: 75/16rem;
                height: 420/16rem;
            }
            .boundary2{
                float: left;
                border-left: solid #797979 1/16rem;
                margin-left: 75/16rem;
                height: 450/16rem;
            }
            .condition{
                float: left;
                margin-left: 30/16rem;
                .condition-list{
                    margin-top: 5/16rem;
                    
                    .condition-item{
                        margin-bottom: 10/16rem;
                        font-size: 14/16rem;
                        .choose{
                            margin-right: 20/16rem;
                        }
                        .text{
                            width: 685/16rem;
                            height: 150/16rem;
                            background-color: #e7e7e7;
                            outline: none;
                            font-size: 28/16rem;
                            border: 0;
                        }
                        .radio{
                            
                        }
                    }
                }
            }
        .stu-info{
            margin-left: 50/16rem;
            width: 850/16rem;
            position: absolute;
            top: 490/16rem;
            overflow: hidden;
           
        }
        .stu-job{
            margin-left: 50/16rem;
            width: 850/16rem;
            position: absolute;
            top: 940/16rem;
            overflow: hidden;
           
        }
        .button{
            margin-left: 50/16rem;
            width: 850/16rem;
            position: absolute;
            top: 1405/16rem;
            overflow: hidden;
            .page-btn{
                display: block;
                width: 120/16rem;
                height: 32/16rem;
                margin-top: 10/16rem;
                margin-bottom: 25/16rem;
                background-color: #F4494E;
                border: none;
                color: #fff;
                outline: none;
                border-radius: 3/16rem;
                letter-spacing: 1/16rem;
                font-size: 14/16rem;
                font-weight: 600;
                float: left;
                &:active {
                    background-color: #CD0C12;
                }
            }
        }
        #save{
            margin-left: 270/16rem;
        }
        #return{
            margin-left: 80/16rem;
        }
        
    }
    .right{
        float: left;
        margin-left: 20/16rem;
        padding: 0;
        .record{
            width: 650/16rem;
            height: 242/16rem;
            margin: 0;
            padding: 0;
            .record-top{
                background-color: rgba(77, 77, 101, 1);
                height: 106/16rem;
                dl{
                    margin: 0;
                    .user-photo{
                        float: left;
                        width: 120/16rem;
                        height: 120/16rem;
                        border-radius: 100%;
                        position: relative;
                        top: 25/16rem;
                        left: 25/16rem;
                        border: solid 4/16rem #fff;
                    }
                    .name{
                        float: left;
                        color: #fff;
                        position: relative;
                        width: 120/16rem;
                        height: 36/16rem;
                        line-height: 36/16rem;
                        letter-spacing: 1/16rem;
                        top: 40/16rem;
                        left: 25/16rem;
                        margin-left: 20/16rem;
                        font-size: 28/16rem;
                        font-weight: 700;
                    
                    }
                    .tel{
                        float: left;
                        color: #fff;
                        position: relative;
                        width: 300/16rem;
                        height: 57/16rem;
                        line-height: 57/16rem;
                        letter-spacing: 1/16rem;
                        top: 30/16rem;
                        left: 25/16rem;
                        margin-left: 40/16rem;
                        font-size: 48/16rem;
                        font-weight: 700;
                    }
                    .other{
                        float: left;
                        color: #fff;
                        position: relative;
                        top: 12/16rem;
                        width: 120/16rem;
                        height: 36/16rem;
                        line-height: 36/16rem;
                        letter-spacing: 1/16rem;
                        left: 25/16rem;
                        margin-left: 20/16rem;
                        font-size: 14/16rem;
                        font-weight: 400;
                    }
                }
                
            }
            .record-down{
                background-color: #fff;
                height: 136/16rem;
                dl{
                    height: inherit;
                    margin-top: 0;
                    .duration{
                        float: left;
                        position: relative;
                        top: 58/16rem;
                        left: -35/16rem;
                        width: 50/16rem;
                        height: 20/16rem;
                        line-height: 20/16rem;
                        letter-spacing: 1/16rem;
                        font-size: 14/16rem;
                    }
                    .time{
                        float: left;
                        position: relative;
                        top: 38/16rem;
                        left: -25/16rem;
                        width: 203/16rem;
                        height: 60/16rem;
                        line-height: 60/16rem;
                        letter-spacing: 1/16rem;
                        font-size: 400;
                        font-family:  "arial black";
                        font-size: 50/16rem;
                    }
                    .play{
                        position: relative;
                        top: 40/16rem;
                        left: 45/16rem;
                        width: 148/16rem;
                        height: 50/16rem;
                        float: left;
                        background-color: rgb(255,0,102);
                        outline: none;
                        display: block;
                        border: none;
                        border-radius: 3/16rem;
                        line-height: 50/16rem;
                        font-size: 20/16rem;
                        font-weight: 700;
                        letter-spacing: 1/16rem;
                        font-family: "微软雅黑 bold";
                        color: #fff;
                        cursor: pointer;
                        &:active {
                            background-color: #CD0C12;
                        }
                    }
                }
                
            }
        }
        
        .radio{
            background-color: red;
            width: 650/16rem;
            height: 100/16rem;
            margin-top: 20/16rem;
            }
        
        .test{
            width: 650/16rem;
            height: 278/16rem;
            margin-top: 20/16rem;
            .absent{
                float: left;
                background-color: white;
                width: 325/16rem;
                height: 278/16rem;
                .attend{
                    margin: 0;
                    background-color: white;
                    width: 325/16rem;
                    height: 278/16rem;
                }
            } 
            
            .grade{
                float: left;
                background-color: white;
                width: 304/16rem;
                height: 278/16rem;
                margin-left: 20/16rem;
                .report{
                    margin: 0;
                    background-color: white;
                    width: 304/16rem;
                    height: 278/16rem;
                }
            }
            
            
        }
        
        
        .check-record{
            background-color: white;
            width: 650/16rem;
            height: 400/16rem; 
            margin-top: 20/16rem;
            padding: 0;
            position: relative;
            .date{
                position: absolute;
                top: 20/16rem;
                width: 610/16rem;
                height: 60/16rem;
                margin-left: 20/16rem;
                padding-top: 8/16rem;
                border: solid 1/16rem #e0e0e0;
                border-bottom: hidden;
                line-height: 50/16rem;
                font-size: 20/16rem;
                font-weight: 800;
                letter-spacing: 1/16rem;
                font-family: "微软雅黑 bold";
                color: black;
                padding-left: 50/16rem;
                .year{
                    margin-right: 5/16rem;
                }
                .arrowhead1{
                    position: absolute;
                    right: 60/16rem;
                    font-size: 30/16rem;
                    width: 30/16rem;
                    top: 2/16rem;
                }
                .arrowhead2{
                    position: absolute;
                    right: 15/16rem;
                    font-size: 30/16rem;
                    top: 2/16rem;
                    width: 30/16rem;
                }
                
            }
            .calendar{
                width: 610/16rem;
                margin-left: 20/16rem;
                position: absolute;
                top: 80/16rem;
                clear: none;
                float: none;
                font-size: 14/16rem;
                border: solid #e0e0e0 1/16rem;
                border-collapse: collapse;
                table-layout: fixed;
                tr {
                    height: 50/16rem; 
                }
                td {
                    padding: 0;
                    margin: 0;
                    border: solid #e0e0e0 1/16rem;
                    padding-left: 10/16rem;
                    padding-right: 10/16rem;
                    font-size: 14/16rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-align: center;
                    &:first-child{
                        background-color: #F0F0F0;
                    }
                    &:nth-child(7){
                        background-color: #F0F0F0;
                    }
                
                }
                th {
                    padding: 0;
                    margin: 0;
                    border: solid #e0e0e0 1/16rem;
                    padding-left: 10/16rem;
                    padding-right: 10/16rem;
                    text-align: center;
                }
                .disable{
                    color: #B9B9B9;
                }
                .uncome{
                    color: red;
                }
            }
        }
        .report-table{
            background-color: white;
            width: 650/16rem;
            height: 340/16rem;
            margin-top: 20/16rem;
            padding: 0;
            position: relative;
            .drop{
                margin-top: 0;
                width: 610/16rem;
                height: 50/16rem;
                background-color: #02A0E9;
                position: absolute;
                top: 20/16rem;
                left: 20/16rem;
                .dropdown{
                    margin-top: 10/16rem;
                    border: solid 1/16rem #e0e0e0;
                    margin-left: 40/16rem;
                }
            }
            .data-table{
                margin-left: 20/16rem;
                padding-top: 20/16rem;
                width: 610/16rem;
                position: absolute;
                top: 70/16rem;
            }
        }
    }
}
