body {
  background-color: #e7e7e7;
}
.main-container {
  background-color: #fff;
  margin: 0.9375rem;
  padding: 0.9375rem;
}
.main-container .tab-list {
  margin: 0;
  padding: 0;
  background-color: #EBEEF7;
  height: 2.25rem;
}
.main-container .tab-list .tab-item {
  float: left;
  margin: 0;
  padding: 0;
  height: inherit;
  width: 6.25rem;
  line-height: 2.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
  color: #fff;
  background-color: #02A0E9;
}
.main-container .tab-container {
  position: relative;
}
.main-container .tab-container .operation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 3rem;
  position: relative;
}
.main-container .tab-container .operation-list .operation-item {
  float: left;
  height: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  cursor: pointer;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  display: none;
}
.main-container .tab-container .operation-list .operation-item .menu {
  display: none;
  cursor: default;
  left: 0;
  top: 3.0625rem;
  background-color: #f0f0f0;
  color: #333;
  width: 100%;
  height: 10rem;
  border: solid #e0e0e0 0.0625rem;
  box-shadow: 0 0.1875rem 0.25rem rgba(0, 0, 0, 0.18);
  padding: 1.25rem;
  position: absolute;
  z-index: 50;
}
.main-container .tab-container .operation-list .operation-item .menu .pro-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.625rem;
  font-size: 0.9375rem;
  letter-spacing: 0.0625rem;
  text-align: left;
  border-bottom: #ccc dashed 0.0625rem;
}
.main-container .tab-container .operation-list .operation-item .menu .content-list {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  height: 10.6875rem;
}
.main-container .tab-container .operation-list .operation-item .menu .content-list .pro-info {
  float: left;
  letter-spacing: 0.0625rem;
  height: 2rem;
  line-height: 2rem;
  font-weight: 600;
  margin-right: 1.25rem;
}
.main-container .tab-container .operation-list .operation-item .menu .content-list .pro {
  float: left;
  width: 5rem;
  letter-spacing: 0.0625rem;
  height: 2rem;
  line-height: 2rem;
  text-align: right;
  padding-right: 0.3125rem;
  margin-bottom: 1.5625rem;
}
.main-container .tab-container .operation-list .operation-item .menu .content-list .keyword {
  float: left;
  width: 12.5rem;
  height: 2rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin: 0;
  border: solid #ccc 0.0625rem;
  outline: none;
  letter-spacing: 0.0625rem;
}
.main-container .tab-container .operation-list .operation-item .menu .content-list .save {
  float: left;
  margin-left: 2.1875rem;
  display: block;
  width: 7.5rem;
  height: 2rem;
  margin-bottom: 1.5625rem;
  background-color: #F4494E;
  border: none;
  color: #fff;
  outline: none;
  border-radius: 0.1875rem;
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
  font-weight: 600;
}
.main-container .tab-container .operation-list .operation-item .menu .content-list .save:active {
  background-color: #CD0C12;
}
.main-container .tab-container .operation-list .operation-item .menu .content-list .condition {
  float: left;
  margin-right: 2.5rem;
  margin-bottom: 0.625rem;
  height: 3rem;
  margin-left: 0;
}
.main-container .tab-container .operation-list .operation-item .menu .content-list .condition .import-text{
  color: red;
}
.main-container .tab-container .operation-list .operation-item .menu .content-list .condition .file {
  height: 2rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin: 0;
  outline: none;
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
  font-weight: 600;
}
.main-container .tab-container .stu-menu {
  display: none;
  cursor: default;
  left: 0;
  top: 2.0625rem;
  background-color: #f0f0f0;
  color: #333;
  width: 100%;
  border: solid #e0e0e0 0.0625rem;
  box-shadow: 0 0.1875rem 0.25rem rgba(0, 0, 0, 0.18);
  padding: 1.25rem;
  position: absolute;
  z-index: 50;
}
.main-container .tab-container .stu-menu .stu-menu-title {
  height: 3.625rem;
  line-height: 3rem;
  text-align: left;
  margin-left: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.625rem;
  font-size: 0.9375rem;
  letter-spacing: 0.0625rem;
  border-bottom: #ccc dashed 0.0625rem;
}
.main-container .tab-container .stu-menu dd {
  margin-top: 1.25rem;
  float: left;
  margin-left: 1.25rem;
}
.main-container .tab-container .stu-menu dd .stu-table {
  width: 52.5rem;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
  clear: none;
  float: none;
  font-size: 0.875rem;
  border: solid #e0e0e0 0.0625rem;
  border-collapse: collapse;
}
.main-container .tab-container .stu-menu dd .stu-table tr {
  height: 2.1875rem;
}
.main-container .tab-container .stu-menu dd .stu-table tr:nth-child(odd) {
  background-color: #F8F8F8;
}
.main-container .tab-container .stu-menu dd .stu-table tr:nth-child(even) {
  background-color: #fff;
}
.main-container .tab-container .stu-menu dd .stu-table td {
  max-width: 50%;
  padding: 0;
  margin: 0;
  border: solid #e0e0e0 0.0625rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-container .tab-container .stu-menu dd .stu-table td:first-child {
  width: 10%;
  text-align: left;
}
.main-container .tab-container .stu-menu dd .stu-table td:nth-child(2) {
  width: 15%;
}
.main-container .tab-container .stu-menu dd .stu-table td:nth-child(3) {
  width: 10%;
}
.main-container .tab-container .stu-menu dd .stu-table th {
  background-color: #0099ff;
  padding: 0;
  margin: 0;
  border: solid #e0e0e0 0.0625rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  text-align: left;
  color: #fff;
}
.main-container .tab-container .stu-menu dd .stu-table th:first-child {
  width: 10%;
  text-align: left;
}
.main-container .tab-container .stu-menu dd .stu-table th:nth-child(2) {
  width: 15%;
}
.main-container .tab-container .stu-menu dd .stu-table th:nth-child(3) {
  width: 10%;
}
.main-container .tab-container .stu-menu dd .stu-page-list {
  background-color: #d7d7d7;
  margin-top: 1.25rem;
  height: 2.5rem;
  border-radius: 0.1875rem;
  overflow: hidden;
  padding: 0;
  margin-left: 1.25rem;
}
.main-container .tab-container .stu-menu dd .stu-page-list .stu-page-item {
  height: 2.5rem;
  font-size: 0.875rem;
  line-height: 2.5rem;
  overflow: hidden;
}
.main-container .tab-container .stu-menu dd .stu-page-list .stu-page-info {
  float: left;
  margin-left: 0.9375rem;
}
.main-container .tab-container .stu-menu dd .stu-page-list .stu-page-info span {
  margin-left: 0.1875rem;
  margin-right: 0.1875rem;
}
.main-container .tab-container .stu-menu dd .stu-page-list .stu-page-operation {
  float: right;
  margin-right: 0.625rem;
}
.main-container .tab-container .stu-menu dd .stu-page-list .stu-page-operation a {
  cursor: pointer;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}
.main-container .tab-container .stu-menu dd .stu-page-list .stu-page-operation a:hover {
  color: #ff6700;
}
.main-container .tab-container .stu-menu dd .stu-page-list .stu-page-operation span {
  margin-left: 0.1875rem;
  margin-right: 0.1875rem;
}
.main-container .tab-container .stu-menu dd .stu-page-list .stu-page-active {
  color: red;
  font-weight: 600;
}
.main-container .tab-container .stu-menu dd .stu-menu-btn {
  display: block;
  width: 7.5rem;
  height: 2rem;
  margin-bottom: 1.5625rem;
  margin-top: 0.625rem;
  margin-left: 1.875rem;
  background-color: #F4494E;
  border: none;
  color: #fff;
  outline: none;
  border-radius: 0.1875rem;
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
  font-weight: 600;
}
.main-container .tab-container .stu-menu dd .stu-menu-btn:active {
  background-color: #CD0C12;
}
.main-container .tab-container .data-table .click {
  cursor: pointer;
}
.main-container .tab-container .data-table .click:active {
  color: #CD0C12;
}
.main-container .tab-container .page-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EBEEF7;
  margin-top: 0.9375rem;
}
.main-container .tab-container .page-list .page-item {
  height: 2.5rem;
  font-size: 0.875rem;
  line-height: 2.5rem;
}
.main-container .tab-container .page-list .page-info {
  float: left;
  margin-left: 0.9375rem;
}
.main-container .tab-container .page-list .page-info span {
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
}
.main-container .tab-container .page-list .page-operation {
  float: right;
  margin-right: 0.625rem;
}
.main-container .tab-container .page-list .page-operation a {
  cursor: pointer;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}
.main-container .tab-container .page-list .page-operation a:hover {
  color: #ff6700;
}
.main-container .tab-container .page-list .page-operation .page-active {
  color: red;
  font-weight: 600;
}
.main-container .tab-container .page-list .page-operation .page-disable {
  color: #B9B9B9;
  cursor: default;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.main-container .tab-container .page-list .page-operation .page-disable:hover {
  color: #B9B9B9;
}
.main-container .error {
  color: red !important;
}
/*# sourceMappingURL=profession.css.map */
